.notification-item {
    padding: 10px;
  }
  
  .notification-content {
    font-weight: normal;
  }
  
  .notification-content.marked {
    font-weight: bold;
  }
  
  .notification-time {
    color: inherit;
  }
  
  .notification-time.marked {
    color: teal;
  }
.title-text {
  text-align: center;
  font-weight: bold;
  color: rgb(0, 167, 111);
}